body {
  background-image: url("C:/Users/micha/Documents/projects/pointofinterest/pointofinterests/images/front page images/working.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  margin: 0;
}

/*Title and Name*/
.grid-header-container {
  display: grid;
  grid-template-columns: 1vw auto auto auto 1vw;
  grid-template-rows: 23vh 33vh;
  z-index: 1;
}

.headerBox {
  align-self: center;
}

.headerTitle {
  grid-row: 2;
  grid-column: 2 / 3;
  color: #D7DEDC;
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 6vw;
  z-index: 1;
}

.headerName {
  grid-row: 2;
  grid-column: 4 / 5;
  color: #D7DEDC;
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 6vw;
  z-index: 1;
}

.social-container {
  grid-row: 3;
  grid-column: 4 / 5;
}

.linkedin {
  height: 2vw;
  width: 2vw;
  padding-right: .5vw;
}

.github {
  height: 2vw;
  width: 2vw;
  padding-right: .5vw;
}

.instagram {
  height: 2vw;
  width: 2vw;
  padding-right: .5vw;
}

.flickr {
  height: 2vw;
  width: 2vw;
}

/*Header Links*/
.header {
  display: grid;
  grid-template-areas: "resume projects blog contact";
  grid-template-rows: 10vh;
  z-index: 2;
  color: #D7DEDC;
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 1.5vw;
}

.resume {
  grid-area: resume;
}

.projects {
  grid-area: projects;
}

.blog {
  grid-area: blog;
}

.contact {
  grid-area: contact;
}
