body {
  margin: 0;
  background-color: white;
}

#ultHead {
  top: 40%;
  left: 3vw;
  position:absolute;
  color: white;
  font-family: "Courier New";
  text-align: center;
  z-index: 1;
  font-size: 6vw;
  transform: translate(0, -50%)
}

#name {
  top: 40%;
  right: 3vw;
  position:absolute;
  color: white;
  font-family: "Courier New";
  z-index: 1;
  font-size: 6vw;
  text-align: center;
  transform: translate(0%, -50%)
}

#ultImg {
  width: 100%;
  z-index: 0;
}
